<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="be.ehb.dt_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="be.ehb.dt_app.permission.MAPS_RECIEVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherehb"
        android:label="@string/app_name"
        android:theme="@style/AppBackground"
        tools:replace="icon, label">
        <meta-data
            android:name="DATABASE"
            android:value="beurs_app_local.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="be.ehb.dt_app.model" />

        <activity
            android:name=".activities.MainActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="landscape" >

        </activity>
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".activities.DataListActivity"
            android:label="@string/title_activity_data_list"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".activities.BeheerActivity"
            android:label="@string/title_activity_beheer"
            android:screenOrientation="landscape">


        </activity>

        <receiver android:name=".controller.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.PdfActivity"
            android:label="@string/title_activity_pdf"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name=".activities.DepartementLoginActivity"
            android:label="@string/title_activity_departement_login" />

        <activity
            android:name=".maps.RegioActivity"
            android:label="@string/title_activity_regio" />
        <activity
            android:name=".maps.MapActivity"
            android:label="@string/title_activity_map" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyADLcqWxgWnwsVLOecpkmOzonSckOvQFKU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:label="@string/title_activity_map"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.SlideshowActivity"
            android:label="@string/title_activity_slideshow"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-zaoo56rk9zylzzt" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
